a {
    padding-right: 20px;
    /* font-size: 20px; */
}

ul {
    font-style: italic;
    list-style: square;
}

.icon {
    width: 100px;
    filter: grayscale(100%);
    opacity: 0.4;
    float: right;
}

.card {
    padding: 10px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 3s;
  }